<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<div class="all" style="background-color: black">
			<button class="arse"></button>
			<?xml version="1.0" encoding="UTF-8" standalone="no"?>
			<svg
				xmlns:dc="http://purl.org/dc/elements/1.1/"
				xmlns:cc="http://creativecommons.org/ns#"
				xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
				xmlns:svg="http://www.w3.org/2000/svg"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
				xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
				width="124.75278mm"
				height="244.0309mm"
				viewBox="0 0 124.75278 244.0309"
				version="1.1"
				id="svg8"
				inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)"
				sodipodi:docname="giraffe.svg"
			>
				<defs id="defs2">
					<clipPath clipPathUnits="userSpaceOnUse" id="clipPath30">
						<path
							style="
								fill: none;
								stroke: none;
								stroke-width: 0;
								stroke-linecap: butt;
								stroke-linejoin: miter;
								stroke-opacity: 1;
							"
							d="m 134.41778,45.309896 6.00037,-8.315476 -5.14992,-4.110493 0.89769,-2.456844 0.85045,-0.283482 4.6302,0.09449 4.86645,2.504093 3.49628,-1.889882 0.0945,-0.04725 0.14174,-4.771949 -0.37797,-1.606399 3.02381,-0.330729 -0.18899,1.133928 -0.0472,1.228423 0.28349,1.795386 0.94493,1.464659 0.28349,0.188987 1.5119,0.0945 1.13393,-2.173364 0.23624,-1.039434 -0.23624,-2.409599 3.73252,-0.188988 -0.61422,1.795387 -0.0472,2.693082 0.56696,2.834819 1.13393,1.46466 5.81138,-2.55134 h 4.29948 l 0.61421,3.496281 -3.02381,3.449031 -2.97656,1.606399 10.58334,13.229167 1.74813,4.25223 -1.60639,2.929316 -1.08669,0.188989 -0.85044,0.330729 -6.00037,-2.787573 -0.0945,-0.141743 -11.24479,-0.283482 -6.47284,-3.401785 -1.88988,3.779763 -3.63802,12.04799 -2.64584,19.84375 -1.93712,15.213547 -1.41741,4.06324 -2.26786,10.72508 -1.41741,18.28459 -1.03944,15.44978 -7.1343,13.74888 v 1.22843 l -5.85863,26.17485 -1.13393,4.77195 -1.46466,13.22916 -2.45684,12.33148 -1.6064,14.50483 0.47247,15.68601 7.03981,9.11868 -3.07106,1.13394 -7.03981,-1.46467 -4.29947,-1.93713 1.98437,-6.89806 -1.84263,-6.09487 1.27567,-9.87463 0.56696,-8.6462 0.61421,-19.79651 -0.28348,-2.45684 -0.23624,-3.1183 -1.22842,9.21317 -2.69308,14.9773 -1.46466,12.70945 0.51972,10.11086 -0.0945,6.4256 7.27604,9.30767 -3.2128,1.03944 -7.98474,-0.99219 -3.401791,-2.36235 1.984371,-6.89808 -1.748135,-6.00037 1.133925,-10.2526 0.94494,-14.93006 0.18899,-14.64658 -0.37797,-4.11049 -0.28349,-6.61458 -2.17336,-20.17448 -0.22266,-2.37519 -7.650591,0.43432 -5.81311,-3.80859 -2.305201,12.26099 -0.367496,0.66817 -1.169302,11.75986 -0.701585,14.633 0.267271,11.25873 v 4.17609 l 4.242904,14.19869 5.57925,9.5883 -2.839741,0.83522 -5.913337,-0.83522 -3.307461,-1.73725 1.63703,-5.57926 0.133633,-0.50113 -3.541321,-4.44335 -0.23386,-10.62397 -1.77066,-13.89801 -3.173826,-18.04069 -0.367495,0.43431 -0.935445,18.4416 v 2.63928 l 0.367493,12.52826 4.309724,14.63301 5.445617,9.42125 -2.672697,1.00226 -7.450137,-0.66817 -2.03793,-1.93771 1.670434,-6.21401 -3.307461,-4.47677 -0.501129,-11.42577 -1.937705,-15.23437 -2.939965,-15.56844 v -8.35218 l -1.603616,1.9043 -3.073598,-4.87767 -0.03341,-2.83974 1.135893,-2.93997 0.601358,-6.98241 0.634765,-1.36976 -0.06682,-1.36438 -2.739514,-12.4 -1.403162,-14.80005 4.57699,-12.42803 2.7061,-4.04245 15.167549,-7.88445 10.456918,-0.23386 4.075861,-2.33861 8.586034,-9.92238 8.185131,-6.81538 2.40543,-2.90655 11.22532,-17.305704 0.33408,-0.634767 4.84426,-14.265513 7.54067,-22.832944 z"
							id="path32"
						/>
					</clipPath>
				</defs>
				<sodipodi:namedview
					id="base"
					pagecolor="#ffffff"
					bordercolor="#666666"
					borderopacity="1.0"
					inkscape:pageopacity="0.0"
					inkscape:pageshadow="2"
					inkscape:zoom="0.42779614"
					inkscape:cx="322.33866"
					inkscape:cy="430.68817"
					inkscape:document-units="mm"
					inkscape:current-layer="layer1"
					inkscape:document-rotation="0"
					showgrid="false"
					inkscape:window-width="1267"
					inkscape:window-height="730"
					inkscape:window-x="50"
					inkscape:window-y="0"
					inkscape:window-maximized="0"
					inkscape:snap-global="true"
					showguides="false"
				>
					<sodipodi:guide
						position="74.272323,101.34488"
						orientation="0,-1"
						id="guide120"
					/>
				</sodipodi:namedview>
				<metadata id="metadata5">
					<rdf:RDF>
						<cc:Work rdf:about="">
							<dc:format>image/svg+xml</dc:format>
							<dc:type
								rdf:resource="http://purl.org/dc/dcmitype/StillImage"
							/>
							<dc:title></dc:title>
						</cc:Work>
					</rdf:RDF>
				</metadata>
				<g
					inkscape:label="Layer 1"
					inkscape:groupmode="layer"
					id="layer1"
					transform="translate(-53.888307,-24.095975)"
				>
					<path
						style="
							fill: none;

							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 99.457759,111.81889 -8.586034,9.92238 8.586036,-7.17456 8.185129,-9.5632 z"
						id="path34"
					/>
					<path
						style="
							fill: #ff80b2;

							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 90.871725,121.74127 -4.075861,2.33861 -10.456918,0.23386 -15.167549,7.88445 6.080386,-2.39712 10.423512,4.27631 7.483547,-4.00904 z"
						id="path36"
					/>
					<path
						style="
							fill: #ff0066;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 61.171397,132.19819 -2.7061,4.04245 -4.57699,12.42803 1.403162,14.80005 z"
						id="path38"
					/>
					<path
						style="
							fill: #ff2a7f;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 55.291469,163.46872 5.011307,21.52351 0.400904,-21.78247 4.009043,-15.7689 -6.681738,0.66817 z"
						id="path40"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 64.712723,147.44086 4.543582,16.03617 -8.552625,-0.26727 z"
						id="path42"
					/>
					<path
						style="
							fill: none;
							stroke: #000000;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 69.256305,163.47703 -1.336348,28.86511 -5.879929,-1.73725 z"
						id="path44"
					/>
					<path
						style="
							fill: #ff5599;
							stroke: #ff5599;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 60.70368,163.20976 1.336348,27.39513 7.216277,-27.12786 z"
						id="path46"
					/>
					<path
						style="
							fill: #ff2a7f;
							stroke: #ff2a7f;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 60.70368,163.20976 -0.267269,39.48077 3.073599,15.57675 1.804071,15.22606 -2.739515,-30.46042 z"
						id="path48"
						sodipodi:nodetypes="cccccc"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 64.712723,147.44086 -6.681738,0.66817 3.140412,-15.91084 6.080386,-2.39712 10.423512,4.27631 7.483547,-4.00904 5.712883,-8.32707 8.586036,-7.17456 12.294399,-2.13816 -7.61718,23.51972 -7.21628,9.48807 -9.354433,5.7463 -10.557146,2.67269 z"
						id="path50"
					/>
					<path
						style="
							fill: #ff2a7f;
							stroke: #ff2a7f;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 99.457761,114.56671 8.185129,-9.5632 13.96483,-20.847021 1.10249,9.563196 -10.95805,18.708865 z"
						id="path52"
						sodipodi:nodetypes="cccccc"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 121.60772,84.156489 8.71967,-25.850014 7.61718,-5.87993 -5.34539,10.824416 -9.88897,30.468723 z"
						id="path54"
					/>
					<path
						style="
							fill: #ff2a7f;
							stroke: #ff2a7f;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 130.32739,58.306475 4.09039,-12.996579 8.20401,-4.91048 -4.67722,12.027129 z"
						id="path56"
					/>
					<path
						style="
							fill: #aa0044;
							stroke: #aa0044;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 134.41778,45.309896 6.00037,-8.315476 2.20364,3.404996 z"
						id="path58"
					/>
					<path
						style="
							fill: #ff5599;
							stroke: #ff5599;
							stroke-width: 0.272803px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 76.427968,170.15877 -4.546166,18.70887 -1.45619,10.68247 -0.603792,33.60914 -4.830299,0.33409 -3.48066,-42.88845 6.250978,1.73725 1.420678,-28.86511 z"
						id="path60"
					/>
					<path
						style="
							fill: #ff5599;
							stroke: #ff0066;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 76.071677,170.15877 13.998242,9.04545 -5.846522,-6.64002 -14.967092,-9.08717 z"
						id="path62"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 84.223397,172.5642 12.828939,-0.66818 0.668174,6.87388 -7.650591,0.43432 z"
						id="path64"
					/>
					<path
						style="
							fill: #aa0044;
							stroke: #aa0044;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 97.052336,171.89602 3.064194,29.42355 0.66146,10.72507 -1.05296,29.34146 -1.214895,10.48778 1.748135,6.00037 0.53584,-15.81998 1.87089,-27.39512 -0.66818,-43.56494 z"
						id="path66"
					/>
					<path
						style="
							fill: #ff2a7f;
							stroke: #ff2a7f;
							stroke-width: 0px;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 97.052336,171.89602 -9.488069,-20.71338 14.432553,19.91157 z"
						id="path68"
					/>
					<path
						style="
							fill: #ff0066;
							stroke: #ff0066;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 64.712723,147.44086 12.294398,6.41447 10.557146,-2.67269 9.488066,20.71338 -12.828936,0.66818 -14.967092,-9.08717 z"
						id="path70"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 135.26823,32.883927 5.14992,4.110493 5.27724,2.870457 2.93996,-1.202713 -2.12233,-5.91998 -4.86645,-2.504093 -4.6302,-0.09449 -0.85045,0.283482 z"
						id="path72"
					/>
					<path
						style="
							fill: #800033;
							stroke: #800033;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 142.62179,40.399416 3.0736,-0.534539 -5.27724,-2.870457 z"
						id="path74"
					/>
					<path
						style="
							fill: #ff2a7f;
							stroke: #ff2a7f;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 154.78255,45.477537 -6.1472,-6.815373 -2.27179,-6.147199 3.60814,-1.603617 v 1.202713 l 2.80633,-0.534539 z"
						id="path76"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 142.62179,40.399416 12.16076,5.078121 -6.1472,-6.815373 -2.93996,1.202713 z"
						id="path78"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="M 154.78255,45.477537 167.34422,52.02564 152.77803,31.579522 Z"
						id="path80"
					/>
					<path
						style="
							fill: #aa0044;
							stroke: #aa0044;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 132.59918,63.250961 9.08717,6.280832 4.07082,-0.4094 -3.53628,-11.484094 3.4745,-10.42351 10.02261,5.746293 11.62622,-0.935442 -12.56167,-6.548103 -12.16076,-5.078121 c -3.69909,10.777409 -6.867,16.868728 -10.02261,22.851545 z"
						id="path82"
						sodipodi:nodetypes="cccccccccc"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 145.75717,69.122393 3.63802,-12.04799 1.88988,-3.779763 -3.85243,-2.338078 -1.73725,-3.741773 -3.4745,10.42351 z"
						id="path84"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 151.28507,53.29464 6.47284,3.401785 11.33929,0.425225 -1.75298,-5.09601 -11.62622,0.935442 -10.02261,-5.746293 1.73725,3.741773 z"
						id="path86"
					/>
					<path
						style="
							fill: #ff5599;
							stroke: #ff5599;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 149.9717,32.114061 0.27384,-6.080958 -0.37797,-1.606399 3.02381,-0.330729 -0.18899,1.133928 -0.0472,1.228423 0.28349,1.795386 1.22842,1.653646 -1.38907,1.672164 z"
						id="path88"
					/>
					<path
						style="
							fill: #aa0044;
							stroke: #aa0044;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 155.679,30.001858 1.13393,-2.173364 0.23624,-1.039434 -0.23624,-2.409599 3.73252,-0.188988 -0.61422,1.795387 -0.0472,2.693082 0.56696,2.834819 -2.4612,-1.404222 z"
						id="path90"
					/>
					<path
						style="
							fill: #ff5599;
							stroke: #ff5599;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 154.1671,29.907358 1.5119,0.0945 2.31079,0.107681 2.4612,1.404222 16.44197,20.694198 1.74813,4.25223 -3.27878,0.109032 z"
						id="path92"
					/>
					<path
						style="
							fill: #ff80b2;
							stroke: #ff80b2;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 153.88361,29.718371 -1.10558,1.861151 22.58428,24.989699 z"
						id="path94"
					/>
					<path
						style="
							fill: #ff2a7f;
							stroke: #ff2a7f;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 167.34422,52.02564 2.53906,1.870887 1.60362,-1.870887 -18.70887,-20.446118 z"
						id="path96"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 178.70318,56.435588 -1.60362,2.939965 -1.87089,-3.073601 z"
						id="path98"
					/>
					<path
						style="
							fill: #ff0066;
							stroke: #ff0066;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 177.15579,59.389502 -1.27567,0.14174 -0.75595,0.330729 -6.14211,-2.83482 -1.51191,-4.91369 2.4096,1.748139 1.41741,-1.795386 4.06324,4.488466 z"
						id="path100"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 161.58492,32.978421 5.81138,-2.55134 h 4.29948 l 0.61421,3.496281 -3.02381,3.449031 -2.97656,1.606399 z"
						id="path104"
					/>
					<path
						style="
							fill: #ff0066;
							stroke: #ff0066;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 145.75717,69.122393 -4.58296,35.057297 -3.68527,14.78832 -4.03664,8.88243 -5.29167,0.37797 7.9375,-22.30059 5.58822,-36.396027 z"
						id="path106"
					/>
					<path
						style="
							fill: none;
							stroke: #000000;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 128.16063,128.22841 3.21279,-26.8363 -10.20535,19.84375 z"
						id="path108"
					/>
					<path
						style="
							fill: none;
							stroke: #000000;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 126.08176,157.52157 -4.91369,-36.28571 -4.91369,34.58481 z"
						id="path110"
					/>
					<path
						style="
							fill: #ff2a7f;
							stroke: #ff2a7f;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 126.08176,157.52157 2.07887,-29.29316 -6.99256,-6.99255 z"
						id="path112"
					/>
					<path
						style="
							fill: none;
							stroke: #000000;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 116.25438,155.82067 -6.61458,13.98513 9.26041,2.07886 7.18155,-14.36309 z"
						id="path114"
					/>
					<path
						style="
							fill: #ff0066;
							stroke: #ff0066;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 100.25827,257.87425 h 4.27885 l -0.75596,-16.25298 4.91369,-41.95536 0.94495,-29.86011 6.61458,-13.98513 -19.335677,-10.38433 -9.354436,5.7463 14.432553,19.91157 0.66818,43.56494 z"
						id="path116"
					/>
					<path
						style="
							fill: #ff5599;
							stroke: #ff5599;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 137.48894,118.96801 -2.45685,33.73437 -7.1343,13.74888 -3.70591,3.73251 -5.29167,1.70089 7.18155,-14.36309 2.07887,-29.29316 5.29167,-0.37797 z"
						id="path118"
					/>
					<path
						style="
							fill: #ff80b2;
							stroke: #ff80b2;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 127.89779,166.45126 v 1.22843 l -6.99256,30.9468 -1.46466,13.22916 -2.45684,12.33148 -1.6064,14.50483 0.47247,15.68601 -1.29632,0.85044 -0.37797,-17.00892 3.77976,-27.40328 0.75595,-12.6622 5.48066,-27.97024 z"
						id="path122"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 118.90021,171.88466 -8.34208,32.45872 0.51972,5.57514 -1.06008,27.734 -1.39676,10.58334 1.84263,6.09487 4.08984,0.89768 -0.37797,-17.00892 3.77976,-27.40328 0.75595,-12.6622 5.48066,-27.97024 z"
						id="path124"
					/>
					<path
						style="
							fill: #ff0066;
							stroke: #ff0066;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 115.8498,254.37797 7.03981,9.11868 -3.07106,1.13394 -5.26507,-9.40218 z"
						id="path126"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 110.46364,254.33073 -1.98437,6.89806 4.29947,1.93713 7.03981,1.46467 -5.26507,-9.40218 z"
						id="path128"
					/>
					<path
						style="
							fill: #ff80b2;
							stroke: #ff80b2;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 110.55813,204.34338 8.34208,-32.45872 -9.26041,-2.07886 -0.94495,29.86011 -4.91369,41.95536 v 0 l 0.75596,16.25298 1.06007,-0.0945 -0.42522,-16.53646 3.3339,-25.70239 z"
						id="path130"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 100.25827,257.87425 -1.984371,6.89808 3.401791,2.36235 7.98474,0.99219 -5.12331,-10.25262 z"
						id="path132"
					/>
					<path
						style="
							fill: #ff2a7f;
							stroke: #ff2a7f;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 105.59719,257.77975 7.27604,9.30768 -3.2128,1.03944 -5.12331,-10.25262 z"
						id="path134"
					/>
					<path
						style="
							fill: #ff5599;
							stroke: #ff5599;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 84.256809,175.39563 -2.672697,12.92916 -1.369757,12.83724 -0.50113,13.55562 0.267271,15.43482 4.242904,14.19869 5.57925,9.5883 -2.839741,0.83522 -6.080379,-14.85856 -2.138157,-9.48807 -0.400905,-32.87415 2.405426,-24.5888 z"
						id="path136"
					/>
					<path
						style="
							fill: #d40055;
							fill-opacity: 1;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 70.425612,199.55011 3.579937,16.753 1.732044,14.75139 0.23386,10.62397 3.541321,4.44335 3.348736,-1.06418 -1.97898,-5.14152 -2.138157,-9.48807 -0.400905,-32.87415 2.405426,-24.5888 -4.677217,-2.80633 -4.276312,18.70887 z"
						id="path138"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 65.314081,233.49334 0.501129,11.42577 3.307461,4.47677 5.044713,-1.60362 -4.309724,-14.63301 z"
						id="path140"
					/>
					<path
						style="
							fill: #ff2a7f;
							stroke: #ff2a7f;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 69.122671,249.39588 -1.670434,6.21401 2.03793,1.93771 7.450137,0.66817 2.672697,-1.00226 -5.445617,-9.42125 z"
						id="path142"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 79.512774,246.12182 -1.770663,6.08039 3.307461,1.73725 z"
						id="path144"
					/>
					<path
						style="
							fill: #ff80b2;
							stroke: #ff80b2;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 81.049572,253.93946 5.913337,0.83522 -4.101399,-9.71704 -3.348736,1.06418 z"
						id="path146"
					/>
					<path
						style="
							fill: #aa0044;
							stroke: #aa0044;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 58.097803,177.2331 -0.634765,1.36976 -0.601358,6.98241 -1.135893,2.93997 0.03341,2.83974 1.846426,2.30623 1.749326,-0.656 -0.437331,-2.95199 1.385158,-5.07099 z"
						id="path148"
					/>
					<path
						style="
							fill: #d40055;
							stroke: #d40055;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 57.605623,193.67121 1.227172,2.57144 1.603616,-1.9043 -0.133635,-9.34612 -1.385158,5.07099 0.437331,2.95199 z"
						id="path150"
					/>
					<path
						style="
							fill: #ffaacc;
							stroke: #ffaacc;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 90.871725,121.74127 8.586036,-7.17456 8.185129,-9.5632 v 0 l -8.185131,6.81538 z"
						id="path152"
					/>
					<path
						style="
							fill: #ff5599;
							stroke: #ff5599;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 96.918703,145.43634 7.216277,-9.48807 7.61718,-23.51972 10.95805,-18.708866 9.88897,-30.468723 9.08717,6.280832 -5.58822,36.396027 -7.9375,22.30059 3.21279,-26.8363 -10.20535,19.84375 -4.91369,34.58481 z"
						id="path154"
					/>
					<path
						style="
							fill: #ff80b2;
							stroke: #ff80b2;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 128.16063,128.22841 3.21279,-26.8363 -10.20535,19.84375 z"
						id="path156"
					/>
					<path
						style="
							fill: #ff80b2;
							stroke: #ff80b2;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 121.16807,121.23586 -4.91369,34.58481 9.82738,1.7009 z"
						id="path158"
					/>
					<path
						style="
							fill: #ff2a7f;
							stroke: #ff2a7f;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 109.6398,169.8058 6.61458,-13.98513 9.82738,1.7009 -7.18155,14.36309 z"
						id="path160"
					/>
					<path
						style="
							fill: #ff2a7f;
							stroke: #ff2a7f;
							stroke-width: 0;
							stroke-linecap: butt;
							stroke-linejoin: miter;
							stroke-opacity: 1;
						"
						d="m 62.040028,190.60489 5.879929,1.73725 1.336348,-28.86511 z"
						id="path162"
					/>
				</g>
			</svg>

			<script>
				let path = document.querySelector("#path50");
				document
					.querySelector(".arse")
					.addEventListener("click", () => {
						var hexValues = [
							"0",
							"1",
							"2",
							"3",
							"4",
							"5",
							"6",
							"7",
							"8",
							"9",
							"a",
							"b",
							"c",
							"d",
							"e",
						];
						var newColor = "#";
						function getColor() {
							// var newColor = "#";
							// for (let j = 0; j < 6; j++) {
							// 	// console.log("I work");
							// 	var x = Math.round(Math.random() * 14);
							// 	var y = hexValues[x];
							// 	newColor += y;
							// }
							var hue = Math.floor(Math.random() * 360);
							var newColor = "hsl(" + hue + ", 100%, 80%)";
							return newColor;
						}
						function pathColor() {
							let newC;
							const paths = document.querySelectorAll(
								"#svg8 path"
							);
							for (let i = 0; i < paths.length; i++) {
								newC = getColor();
								paths[i].setAttribute("style", `fill: ${newC}`);
							}
						}
						pathColor();
					});
			</script>
		</div>
	</body>
</html>
